body,
input,
button,
select {
    font: message-box;
    outline: none;
}
#customScaleOption {
    display: none;
}

#mainContainer {
    position: absolute;
    top: 32px;
    right: 0;
    bottom: 0;
    left: 0;
    min-width: 320px;
    -webkit-transition-duration: 200ms;
    -webkit-transition-timing-function: ease;
    transition-duration: 200ms;
    transition-timing-function: ease;
}
html[dir='ltr'] #outerContainer.sidebarOpen > #mainContainer {
    -webkit-transition-property: left;
    transition-property: left;
    left: 200px;
}
html[dir='rtl'] #outerContainer.sidebarOpen > #mainContainer {
    -webkit-transition-property: right;
    transition-property: right;
    right: 200px;
}

.toolbar {
    position: absolute;
    top:0px;
    left: 0px;
    /*right: 0;*/
    height: 32px;
    width : 100%;
    /*z-index: 9999;*/
    cursor: default;
}

#toolbarContainer {
    width: 100%;
}

#toolbarSidebar {
    width: 200px;
    height: 32px;
    background-color: #424242; /* fallback */
    /*background-image: url(imgs/texture.png),*/
    linear-gradient(hsla(0,0%,30%,.99), hsla(0,0%,25%,.95));
}
html[dir='ltr'] #toolbarSidebar {
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.25),
    inset 0 -1px 0 hsla(0,0%,100%,.05),
    0 1px 0 hsla(0,0%,0%,.15),
    0 0 1px hsla(0,0%,0%,.1);
}
html[dir='rtl'] #toolbarSidebar {
    box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.25),
    inset 0 1px 0 hsla(0,0%,100%,.05),
    0 1px 0 hsla(0,0%,0%,.15),
    0 0 1px hsla(0,0%,0%,.1);
}

#toolbarContainer, .findbar, .secondaryToolbar {
    position: relative;
    height: 32px;
    background-color: #474747; /* fallback */
    background-image: url(imgs/texture.png),
    linear-gradient(hsla(0,0%,32%,.99), hsla(0,0%,27%,.95));
}
html[dir='ltr'] #toolbarContainer, .findbar, .secondaryToolbar {
    box-shadow: inset 1px 0 0 hsla(0,0%,100%,.08),
    inset 0 1px 1px hsla(0,0%,0%,.15),
    inset 0 -1px 0 hsla(0,0%,100%,.05),
    0 1px 0 hsla(0,0%,0%,.15),
    0 1px 1px hsla(0,0%,0%,.1);
}
html[dir='rtl'] #toolbarContainer, .findbar, .secondaryToolbar {
    box-shadow: inset -1px 0 0 hsla(0,0%,100%,.08),
    inset 0 1px 1px hsla(0,0%,0%,.15),
    inset 0 -1px 0 hsla(0,0%,100%,.05),
    0 1px 0 hsla(0,0%,0%,.15),
    0 1px 1px hsla(0,0%,0%,.1);
}

#toolbarViewer {
    height: 32px;
}

#loadingBar {
    position: relative;
    width: 100%;
    height: 4px;
    background-color: #333;
    border-bottom: 1px solid #333;
}

#loadingBar .progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #ddd;
    overflow: hidden;
    -webkit-transition: width 200ms;
    transition: width 200ms;
}

@-webkit-keyframes progressIndeterminate {
    0% { left: -142px; }
    100% { left: 0; }
}

@keyframes progressIndeterminate {
    0% { left: -142px; }
    100% { left: 0; }
}

#loadingBar .progress.indeterminate {
    background-color: #999;
    -webkit-transition: none;
    transition: none;
}

#loadingBar .progress.indeterminate .glimmer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: calc(100% + 150px);

    background: repeating-linear-gradient(135deg,
    #bbb 0, #999 5px,
    #999 45px, #ddd 55px,
    #ddd 95px, #bbb 100px);

    -webkit-animation: progressIndeterminate 950ms linear infinite;
    animation: progressIndeterminate 950ms linear infinite;
}

.findbar, .secondaryToolbar {
    top: 32px;
    position: absolute;
    z-index: 10000;
    height: auto;
    min-width: 16px;
    padding: 0px 6px 0px 6px;
    margin: 4px 2px 4px 2px;
    color: hsl(0,0%,85%);
    font-size: 12px;
    line-height: 14px;
    text-align: left;
    cursor: default;
}

.findbar {
    min-width: 300px;
}
.findbar > div {
    height: 32px;
}
.findbar.wrapContainers > div {
    clear: both;
}
.findbar.wrapContainers > div#findbarMessageContainer {
    height: auto;
}
html[dir='ltr'] .findbar {
    left: 68px;
}
html[dir='rtl'] .findbar {
    right: 68px;
}

.findbar label {
    -webkit-user-select: none;
    -moz-user-select: none;
}

#findInput {
    width: 200px;
}
#findInput::-webkit-input-placeholder {
    font-style: italic;
}
#findInput::-moz-placeholder {
    font-style: italic;
}
#findInput:-ms-input-placeholder {
    font-style: italic;
}
#findInput::placeholder {
    font-style: italic;
}
#findInput[data-status="pending"] {
    background-image: url(imgs/loading-small.png);
    background-repeat: no-repeat;
    background-position: right;
}
html[dir='rtl'] #findInput[data-status="pending"] {
    background-position: left;
}

html[dir='ltr'] #toolbarViewerLeft,
html[dir='rtl'] #toolbarViewerRight {
    float: left;
}
html[dir='ltr'] #toolbarViewerRight,
html[dir='rtl'] #toolbarViewerLeft {
    float: right;
}
html[dir='ltr'] #toolbarViewerLeft > *,
html[dir='ltr'] #toolbarViewerMiddle > *,
html[dir='ltr'] #toolbarViewerRight > *,
html[dir='ltr'] .findbar * {
    position: relative;
    float: left;
}
html[dir='rtl'] #toolbarViewerLeft > *,
html[dir='rtl'] #toolbarViewerMiddle > *,
html[dir='rtl'] #toolbarViewerRight > *,
html[dir='rtl'] .findbar * {
    position: relative;
    float: right;
}

html[dir='ltr'] .splitToolbarButton {
    margin: 3px 2px 4px 0;
    display: inline-block;
}
html[dir='rtl'] .splitToolbarButton {
    margin: 3px 0 4px 2px;
    display: inline-block;
}
html[dir='ltr'] .splitToolbarButton > .toolbarButton {
    border-radius: 0;
    float: left;
}
html[dir='rtl'] .splitToolbarButton > .toolbarButton {
    border-radius: 0;
    float: right;
}

.toolbarButton,
.secondaryToolbarButton,
.overlayButton {
    border: 0 none;
    background: none;
    width: 32px;
    height: 25px;
}

.toolbarButton > span {
    display: inline-block;
    width: 0;
    height: 0;
    overflow: hidden;
}

.toolbarButton[disabled],
.secondaryToolbarButton[disabled],
.overlayButton[disabled] {
    opacity: .5;
}

.splitToolbarButton.toggled .toolbarButton {
    margin: 0;
}

.splitToolbarButton:hover > .toolbarButton,
.splitToolbarButton:focus > .toolbarButton,
.splitToolbarButton.toggled > .toolbarButton,
.toolbarButton.textButton {
    background-color: hsla(0,0%,0%,.12);
    background-image: linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,100%,0));
    background-clip: padding-box;
    border: 1px solid hsla(0,0%,0%,.35);
    border-color: hsla(0,0%,0%,.32) hsla(0,0%,0%,.38) hsla(0,0%,0%,.42);
    box-shadow: 0 1px 0 hsla(0,0%,100%,.05) inset,
    0 0 1px hsla(0,0%,100%,.15) inset,
    0 1px 0 hsla(0,0%,100%,.05);
    -webkit-transition-property: background-color, border-color, box-shadow;
    -webkit-transition-duration: 150ms;
    -webkit-transition-timing-function: ease;
    transition-property: background-color, border-color, box-shadow;
    transition-duration: 150ms;
    transition-timing-function: ease;

}
.splitToolbarButton > .toolbarButton:hover,
.splitToolbarButton > .toolbarButton:focus,
.dropdownToolbarButton:hover,
.overlayButton:hover,
.overlayButton:focus,
.toolbarButton.textButton:hover,
.toolbarButton.textButton:focus {
    background-color: hsla(0,0%,0%,.2);
    box-shadow: 0 1px 0 hsla(0,0%,100%,.05) inset,
    0 0 1px hsla(0,0%,100%,.15) inset,
    0 0 1px hsla(0,0%,0%,.05);
    z-index: 199;
}
.splitToolbarButton > .toolbarButton {
    position: relative;
}
html[dir='ltr'] .splitToolbarButton > .toolbarButton:first-child,
html[dir='rtl'] .splitToolbarButton > .toolbarButton:last-child {
    position: relative;
    margin: 0;
    margin-right: -1px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border-right-color: transparent;
}
html[dir='ltr'] .splitToolbarButton > .toolbarButton:last-child,
html[dir='rtl'] .splitToolbarButton > .toolbarButton:first-child {
    position: relative;
    margin: 0;
    margin-left: -1px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-left-color: transparent;
}
.splitToolbarButtonSeparator {
    padding: 8px 0;
    width: 1px;
    background-color: hsla(0,0%,0%,.5);
    z-index: 99;
    box-shadow: 0 0 0 1px hsla(0,0%,100%,.08);
    display: inline-block;
    margin: 5px 0;
}
html[dir='ltr'] .splitToolbarButtonSeparator {
    float: left;
}
html[dir='rtl'] .splitToolbarButtonSeparator {
    float: right;
}
.splitToolbarButton:hover > .splitToolbarButtonSeparator,
.splitToolbarButton.toggled > .splitToolbarButtonSeparator {
    padding: 12px 0;
    margin: 1px 0;
    box-shadow: 0 0 0 1px hsla(0,0%,100%,.03);
    -webkit-transition-property: padding;
    -webkit-transition-duration: 10ms;
    -webkit-transition-timing-function: ease;
    transition-property: padding;
    transition-duration: 10ms;
    transition-timing-function: ease;
}

.toolbarButton,
.dropdownToolbarButton,
.secondaryToolbarButton,
.overlayButton {
    min-width: 16px;
    padding: 2px 6px 0;
    border: 1px solid transparent;
    border-radius: 2px;
    color: hsla(0,0%,100%,.8);
    font-size: 12px;
    line-height: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    /* Opera does not support user-select, use <... unselectable="on"> instead */
    cursor: default;
    -webkit-transition-property: background-color, border-color, box-shadow;
    -webkit-transition-duration: 150ms;
    -webkit-transition-timing-function: ease;
    transition-property: background-color, border-color, box-shadow;
    transition-duration: 150ms;
    transition-timing-function: ease;
}

html[dir='ltr'] .toolbarButton,
html[dir='ltr'] .overlayButton,
html[dir='ltr'] .dropdownToolbarButton {
    margin: 3px 2px 4px 0;
}
html[dir='rtl'] .toolbarButton,
html[dir='rtl'] .overlayButton,
html[dir='rtl'] .dropdownToolbarButton {
    margin: 3px 0 4px 2px;
}

.toolbarButton:hover,
.toolbarButton:focus,
.dropdownToolbarButton,
.overlayButton,
.secondaryToolbarButton:hover,
.secondaryToolbarButton:focus {
    background-color: hsla(0,0%,0%,.12);
    background-image: linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,100%,0));
    background-clip: padding-box;
    border: 1px solid hsla(0,0%,0%,.35);
    border-color: hsla(0,0%,0%,.32) hsla(0,0%,0%,.38) hsla(0,0%,0%,.42);
    box-shadow: 0 1px 0 hsla(0,0%,100%,.05) inset,
    0 0 1px hsla(0,0%,100%,.15) inset,
    0 1px 0 hsla(0,0%,100%,.05);
}

.toolbarButton:hover:active,
.overlayButton:hover:active,
.dropdownToolbarButton:hover:active,
.secondaryToolbarButton:hover:active {
    background-color: hsla(0,0%,0%,.2);
    background-image: linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,100%,0));
    border-color: hsla(0,0%,0%,.35) hsla(0,0%,0%,.4) hsla(0,0%,0%,.45);
    box-shadow: 0 1px 1px hsla(0,0%,0%,.1) inset,
    0 0 1px hsla(0,0%,0%,.2) inset,
    0 1px 0 hsla(0,0%,100%,.05);
    -webkit-transition-property: background-color, border-color, box-shadow;
    -webkit-transition-duration: 10ms;
    -webkit-transition-timing-function: linear;
    transition-property: background-color, border-color, box-shadow;
    transition-duration: 10ms;
    transition-timing-function: linear;
}

.toolbarButton.toggled,
.splitToolbarButton.toggled > .toolbarButton.toggled,
.secondaryToolbarButton.toggled {
    background-color: hsla(0,0%,0%,.3);
    background-image: linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,100%,0));
    border-color: hsla(0,0%,0%,.4) hsla(0,0%,0%,.45) hsla(0,0%,0%,.5);
    box-shadow: 0 1px 1px hsla(0,0%,0%,.1) inset,
    0 0 1px hsla(0,0%,0%,.2) inset,
    0 1px 0 hsla(0,0%,100%,.05);
    -webkit-transition-property: background-color, border-color, box-shadow;
    -webkit-transition-duration: 10ms;
    -webkit-transition-timing-function: linear;
    transition-property: background-color, border-color, box-shadow;
    transition-duration: 10ms;
    transition-timing-function: linear;
}

.toolbarButton.toggled:hover:active,
.splitToolbarButton.toggled > .toolbarButton.toggled:hover:active,
.secondaryToolbarButton.toggled:hover:active {
    background-color: hsla(0,0%,0%,.4);
    border-color: hsla(0,0%,0%,.4) hsla(0,0%,0%,.5) hsla(0,0%,0%,.55);
    box-shadow: 0 1px 1px hsla(0,0%,0%,.2) inset,
    0 0 1px hsla(0,0%,0%,.3) inset,
    0 1px 0 hsla(0,0%,100%,.05);
}

.dropdownToolbarButton {
    width: 120px;
    max-width: 120px;
    padding: 0;
    overflow: hidden;
    background: url(imgs/toolbarButton-menuArrows.png) no-repeat;
}
html[dir='ltr'] .dropdownToolbarButton {
    background-position: 95%;
}
html[dir='rtl'] .dropdownToolbarButton {
    background-position: 5%;
}

.dropdownToolbarButton > select {
    min-width: 140px;
    font-size: 12px;
    color: hsl(0,0%,95%);
    margin: 0;
    padding: 3px 2px 2px;
    border: none;
    background: rgba(0,0,0,0); /* Opera does not support 'transparent' <select> background */
}

.dropdownToolbarButton > select > option {
    background: hsl(0,0%,24%);
}

#customScaleOption {
    display: none;
}

#pageWidthOption {
    border-bottom: 1px rgba(255, 255, 255, .5) solid;
}

html[dir='ltr'] .splitToolbarButton:first-child,
html[dir='ltr'] .toolbarButton:first-child,
html[dir='rtl'] .splitToolbarButton:last-child,
html[dir='rtl'] .toolbarButton:last-child {
    margin-left: 4px;
}
html[dir='ltr'] .splitToolbarButton:last-child,
html[dir='ltr'] .toolbarButton:last-child,
html[dir='rtl'] .splitToolbarButton:first-child,
html[dir='rtl'] .toolbarButton:first-child {
    margin-right: 4px;
}

.toolbarButtonSpacer {
    width: 30px;
    display: inline-block;
    height: 1px;
}

html[dir='ltr'] #findPrevious {
    margin-left: 3px;
}
html[dir='ltr'] #findNext {
    margin-right: 3px;
}

html[dir='rtl'] #findPrevious {
    margin-right: 3px;
}
html[dir='rtl'] #findNext {
    margin-left: 3px;
}

.toolbarButton::before,
.secondaryToolbarButton::before {
    /* All matching images have a size of 16x16
     * All relevant containers have a size of 32x25 */
    position: absolute;
    display: inline-block;
    top: 4px;
    left: 7px;
}

html[dir="ltr"] .secondaryToolbarButton::before {
    left: 4px;
}
html[dir="rtl"] .secondaryToolbarButton::before {
    right: 4px;
}

html[dir='ltr'] .toolbarButton#waiReport::before {
    content: url(imgs/waiReport.png);
}
html[dir='rtl'] .toolbarButton#waiReport::before {
    content: url(imgs/waiReport.png);
}


html[dir='ltr'] .toolbarButton#sidebarToggle::before {
    content: url(imgs/toolbarButton-sidebarToggle.png);
}
html[dir='rtl'] .toolbarButton#sidebarToggle::before {
    content: url(imgs/toolbarButton-sidebarToggle-rtl.png);
}

html[dir='ltr'] .toolbarButton#secondaryToolbarToggle::before {
    content: url(imgs/toolbarButton-secondaryToolbarToggle.png);
}
html[dir='rtl'] .toolbarButton#secondaryToolbarToggle::before {
    content: url(imgs/toolbarButton-secondaryToolbarToggle-rtl.png);
}

html[dir='ltr'] .toolbarButton.findPrevious::before {
    content: url(imgs/findbarButton-previous.png);
}
html[dir='rtl'] .toolbarButton.findPrevious::before {
    content: url(imgs/findbarButton-previous-rtl.png);
}

html[dir='ltr'] .toolbarButton.findNext::before {
    content: url(imgs/findbarButton-next.png);
}
html[dir='rtl'] .toolbarButton.findNext::before {
    content: url(imgs/findbarButton-next-rtl.png);
}

html[dir='ltr'] .toolbarButton.pageUp::before {
    content: url(imgs/toolbarButton-pageUp.png);
}
html[dir='rtl'] .toolbarButton.pageUp::before {
    content: url(imgs/toolbarButton-pageUp-rtl.png);
}

html[dir='ltr'] .toolbarButton.pageDown::before {
    content: url(imgs/toolbarButton-pageDown.png);
}
html[dir='rtl'] .toolbarButton.pageDown::before {
    content: url(imgs/toolbarButton-pageDown-rtl.png);
}

.toolbarButton.zoomOut::before {
    content: url(imgs/toolbarButton-zoomOut.png);
}

.toolbarButton.zoomIn::before {
    content: url(imgs/toolbarButton-zoomIn.png);
}

.toolbarButton.presentationMode::before,
.secondaryToolbarButton.presentationMode::before {
    content: url(imgs/toolbarButton-presentationMode.png);
}

.toolbarButton.print::before,
.secondaryToolbarButton.print::before {
    content: url(imgs/toolbarButton-print.png);
}

.toolbarButton.openFile::before,
.secondaryToolbarButton.openFile::before {
    content: url(imgs/toolbarButton-openFile.png);
}

.toolbarButton.download::before,
.secondaryToolbarButton.download::before {
    content: url(imgs/toolbarButton-download.png);
}

.toolbarButton.loading::before,
.secondaryToolbarButton.loading::before {
    content: url(imgs/loading.gif);
}

.toolbarButton.reLoading::before,
.secondaryToolbarButton.reLoading::before {
    content: url(imgs/secondaryToolbarButton-rotateCcw.png);
}

.toolbarButton.bookmark,
.secondaryToolbarButton.bookmark {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    padding-top: 4px;
    text-decoration: none;
}
.secondaryToolbarButton.bookmark {
    padding-top: 5px;
}

.bookmark[href='#'] {
    opacity: .5;
    pointer-events: none;
}

.toolbarButton.bookmark::before,
.secondaryToolbarButton.bookmark::before {
    content: url(imgs/toolbarButton-bookmark.png);
}

#viewThumbnail.toolbarButton::before {
    content: url(imgs/toolbarButton-viewThumbnail.png);
}

html[dir="ltr"] #viewOutline.toolbarButton::before {
    content: url(imgs/toolbarButton-viewOutline.png);
}
html[dir="rtl"] #viewOutline.toolbarButton::before {
    content: url(imgs/toolbarButton-viewOutline-rtl.png);
}

#viewAttachments.toolbarButton::before {
    content: url(imgs/toolbarButton-viewAttachments.png);
}

#viewFind.toolbarButton::before {
    content: url(imgs/toolbarButton-search.png);
}

.toolbarButton.pdfSidebarNotification::after {
    position: absolute;
    display: inline-block;
    top: 1px;
    /* Create a filled circle, with a diameter of 9 pixels, using only CSS: */
    content: '';
    background-color: #70DB55;
    height: 9px;
    width: 9px;
    border-radius: 50%;
}
html[dir='ltr'] .toolbarButton.pdfSidebarNotification::after {
    left: 17px;
}
html[dir='rtl'] .toolbarButton.pdfSidebarNotification::after {
    right: 17px;
}

.secondaryToolbarButton {
    position: relative;
    margin: 0 0 4px 0;
    padding: 3px 0 1px 0;
    height: auto;
    min-height: 25px;
    width: auto;
    min-width: 100%;
    white-space: normal;
}
html[dir="ltr"] .secondaryToolbarButton {
    padding-left: 24px;
    text-align: left;
}
html[dir="rtl"] .secondaryToolbarButton {
    padding-right: 24px;
    text-align: right;
}
html[dir="ltr"] .secondaryToolbarButton.bookmark {
    padding-left: 27px;
}
html[dir="rtl"] .secondaryToolbarButton.bookmark {
    padding-right: 27px;
}

html[dir="ltr"] .secondaryToolbarButton > span {
    padding-right: 4px;
}
html[dir="rtl"] .secondaryToolbarButton > span {
    padding-left: 4px;
}

.secondaryToolbarButton.firstPage::before {
    content: url(imgs/secondaryToolbarButton-firstPage.png);
}

.secondaryToolbarButton.lastPage::before {
    content: url(imgs/secondaryToolbarButton-lastPage.png);
}

.secondaryToolbarButton.rotateCcw::before {
    content: url(imgs/secondaryToolbarButton-rotateCcw.png);
}

.secondaryToolbarButton.rotateCw::before {
    content: url(imgs/secondaryToolbarButton-rotateCw.png);
}

.secondaryToolbarButton.selectTool::before {
    content: url(imgs/secondaryToolbarButton-selectTool.png);
}

.secondaryToolbarButton.handTool::before {
    content: url(imgs/secondaryToolbarButton-handTool.png);
}

.secondaryToolbarButton.documentProperties::before {
    content: url(imgs/secondaryToolbarButton-documentProperties.png);
}

.verticalToolbarSeparator {
    display: block;
    padding: 8px 0;
    margin: 8px 4px;
    width: 1px;
    background-color: hsla(0,0%,0%,.5);
    box-shadow: 0 0 0 1px hsla(0,0%,100%,.08);
}
html[dir='ltr'] .verticalToolbarSeparator {
    margin-left: 2px;
}
html[dir='rtl'] .verticalToolbarSeparator {
    margin-right: 2px;
}

.horizontalToolbarSeparator {
    display: block;
    margin: 0 0 4px 0;
    height: 1px;
    width: 100%;
    background-color: hsla(0,0%,0%,.5);
    box-shadow: 0 0 0 1px hsla(0,0%,100%,.08);
}

.toolbarField {
    padding: 3px 6px;
    margin: 4px 0 4px 0;
    border: 1px solid transparent;
    border-radius: 2px;
    background-color: hsla(0,0%,100%,.09);
    background-image: linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,100%,0));
    background-clip: padding-box;
    border: 1px solid hsla(0,0%,0%,.35);
    border-color: hsla(0,0%,0%,.32) hsla(0,0%,0%,.38) hsla(0,0%,0%,.42);
    box-shadow: 0 1px 0 hsla(0,0%,0%,.05) inset,
    0 1px 0 hsla(0,0%,100%,.05);
    color: hsl(0,0%,95%);
    font-size: 12px;
    line-height: 14px;
    outline-style: none;
    transition-property: background-color, border-color, box-shadow;
    transition-duration: 150ms;
    transition-timing-function: ease;
}

.toolbarField[type=checkbox] {
    display: inline-block;
    margin: 8px 0px;
}

.toolbarField.pageNumber {
    -moz-appearance: textfield; /* hides the spinner in moz */
    min-width: 16px;
    text-align: right;
    width: 40px;
}

.toolbarField.pageNumber.visiblePageIsLoading {
    background-image: url(imgs/loading-small.png);
    background-repeat: no-repeat;
    background-position: 1px;
}

.toolbarField.pageNumber::-webkit-inner-spin-button,
.toolbarField.pageNumber::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.toolbarField:hover {
    background-color: hsla(0,0%,100%,.11);
    border-color: hsla(0,0%,0%,.4) hsla(0,0%,0%,.43) hsla(0,0%,0%,.45);
}

.toolbarField:focus {
    background-color: hsla(0,0%,100%,.15);
    border-color: hsla(204,100%,65%,.8) hsla(204,100%,65%,.85) hsla(204,100%,65%,.9);
}

.toolbarLabel {
    min-width: 16px;
    padding: 3px 6px 3px 2px;
    margin: 4px 2px 4px 0;
    border: 1px solid transparent;
    border-radius: 2px;
    color: hsl(0,0%,85%);
    font-size: 12px;
    line-height: 14px;
    text-align: left;
    -webkit-user-select: none;
    -moz-user-select: none;
    cursor: default;
}

/* for Printing CSS */
#printContainer {
    /*overflow: auto;*/
    /*position: static;*/
    /*width : 100%;*/
    /*height: auto;*/
    /*border:1px solid red;*/
    display: none;
}

/*@media print {*/
    /*body {*/
        /*background: transparent none;*/
    /*}*/
    /*#outerContainer {*/
        /*display: none;*/
    /*}*/
    /*#printContainer {*/
        /*display : block;*/
        /*!*height: 100%;*!*/
    /*}*/
    /*#printContainer > div {*/
        /*position: relative;*/
        /*top: 0;*/
        /*left: 0;*/
        /*width: 1px;*/
        /*height: 1px;*/
        /*overflow: visible;*/
        /*page-break-after: always;*/
        /*page-break-inside: avoid;*/
    /*}*/
    /*#printContainer canvas,*/
    /*#printContainer img {*/
        /*display: block;*/
    /*}*/
/*}*/